// VARIABLES
color-primary = #278da4
color-secondary = #b13c69
color-accent = #eeea72
color-shade = #eee
color-text = #343434
color-bg = #3acec2
color-bg-light = #009fe1
font-stack-primary = 'Raleway', sans-serif
font-stack-secondary = 'Bree Serif', serif
max-w = 1000
phone = '(max-width: 575px)'
tablet = '(min-width: 576px)'
desktop = '(min-width: 768px)'
smartTV = '(min-width: 992px)'
